<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="emailid" value="info@travelyaari.com" />
    <add key="emailpassword" value="y@@r!123" />
    <add key="EmailTo" value="utkarsh.mittal@travelyaari.com" />

    <add key="LogPath" value="E:\KabraTallyPosting\KabraTallyPosting\KabraTallyPosting\ApplicationLogs\" />
    <add key="XMLTemplateFilesPath" value="E:\KabraTallyPosting\KabraTallyPosting\KabraTallyPosting\XMLTemplates\" />
    <add key="ServerOffsetMins" value="0" />
    <add key="CompanyId" value="686" />
    <add key="IntervalOfDays" value="3" />
    <add key="TallyCompanyName" value="KABRA TRAVELS 2017-18" />
    <add key="Env" value="Dev" />

    <add key="TestMode" value="true" />
    <add key="NoOfDays" value="-3"/>
    <add key="JourneyDate" value="2018-04-01"/>
    <add key="InsertPendingJobs" value="false" />


    <add key="ExportEnabled" value="false" />
    <add key="ExportCostCentreEnabled" value="false" />
    <add key="PostBranchBookings" value="false" />
    <add key="PostOnlineAgentCollection" value="false" />
    <add key="PostOfflineAgentCollection" value="false" />

    <add key="PostJournalEntry" value="true" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>